<div class="map-container">
  <div class="slider-container" *ngIf="photos.length > 0">
    <p-slider
      [(ngModel)]="selectedPhotoIndex"
      (onChange)="onSliderChange()"
      [min]="0"
      [max]="photos.length - 1"
      >
    </p-slider>
    <div class="slider-timestamps">
      <span *ngFor="let photo of photos; let i = index" [style.top]="(i / (photos.length - 1)) * 100 + '%'">
        {{ formatDate(photo.date) }}
      </span>
    </div>
  </div>
  <div class="search-bar">
    <input pInputText type="text" [(ngModel)]="searchQuery" placeholder="Search for a city...">
  </div>
  <div class="map" leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)">
    <div leafletDraw [leafletDrawOptions]="drawOptions"></div>
  </div>
</div>
